[submodule "submodule"]
	path = submodule
	url = https://github.com/tencentmusic/cube-studio.git
[submodule "HirFormer2"]
	path = HirFormer2
	url = https://github.com/xin1u/HirFormer.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "HoughLaneNet"]
	path = HoughLaneNet
	url = https://github.com/Jiaqi-zhang/HoughLaneNet.git
